@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

/* ============================== html generics ============================== */
* {
  font-family: "Roboto";
}
select,
input,
button {
  padding: 5px;
  box-sizing: border-box;
}
button {
  display: inline-block;
  font-family: "Roboto";
  font-weight: 500;
  padding: 5px 20px;
  background: white;
  border-radius: 4px;
  border: 1px #ccc solid;
  box-shadow: 2px 2px 5px #cccccc;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
fieldset {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #cccccc;
}
button:hover {
  box-shadow: 2px 2px 10px #cccccc;
}

/* ============================== style customs ============================== */

.text-center {
  text-align: center;
}

.header-links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

    .header-links a, .header-links button, .header-links span {
        font-size: 14px;
        font-weight: 500;
        color: black;
    }
    .header-links a {
        margin: 0 10px;
        text-decoration: none;
    }

    .header-links a.active {
        text-decoration: underline;
    }

    .header-links .user-place {
        display: flex;
        margin-left: 30px;
        align-items: center;
    }    
    .header-links .user-place div{
        display: flex;
        align-items: center;
    }
    .header-links .user-place div img{
        margin-right: 5px;
    }
    .header-links .user-place button{
        padding: 0;
        background: none;
        border: 0 none;
        box-shadow: 0 0 0;
        height: auto !important;
        margin-left: 20px;
    }

.container {
  padding: 20px 0;
}

.card-list {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}
.card {
  box-shadow: 2px 2px 5px #cccccc;
  margin-bottom: 20px;
  border-radius: 4px;
}
.card-body {
  padding: 5px;
  display: flex;
  align-content: space-between;
  align-items: center;
}
.card-body div {
  flex: 1;
  padding: 15px;
}

.card-body .image-area,
.card-body .card-score{
  width: 150px;
  text-align: center;
  flex: 0;
}

.card-footer {
  padding-bottom: 20px;
}

.form {
  box-shadow: 2px 2px 5px #cccccc;
  margin-bottom: 20px;
  border-radius: 4px;
  width: 500px;
  padding: 20px;
  margin: 0 auto 0;
}

.form fieldset {
  padding: 20px;
}

.tab-questions {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}
  .tab-questions li {
    display: inline-block;
    width: 150px;
  }
    .tab-questions li button {
      width: 100%;
      box-shadow: 0 0 0;
      border-radius: 0;
      background: #ccc;
      color: white;
    }
      .tab-questions li button.active {
        background: white;
        color: black;
      }

/* ============================== login form ============================== */
.login-form {
  margin: 120px auto 0;
}

.login-form fieldset select {
  width: 100%;
  margin-bottom: 20px;
}

/* ============================== form question ============================== */
.form-question input {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

/* ============================== form question ============================== */
.form-answer {
  width: 500px;
  margin: 0 auto;
}
.form-answer label{
    display: block;
    margin-bottom: 20px;
}
.form-answer label input {
  display: inline-block;
  margin-right: 10px;
}

.question-result-detail > div {
  padding: 0;
}

.question-result-detail .progress {
  display: block;
  width: 100%;
  padding: 5px;
  border: 1px #ccc solid;  
  position: relative;
  overflow: hidden;
}

.question-result-detail > div > small {
  margin-bottom: 10px;
  display: block;
}

.question-result-detail .progress small {
  position: relative;
  z-index: 1;
}

.question-result-detail .progress .progress-bar{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  background: rgba(17, 158, 17, 0.7);
  width: 50%;
  z-index: 0;
}

.question-result-detail p {
  display: block;
  margin: 0;
}
  .question-result-detail p small{
    font-weight: 500;
  }